body {
  margin: 0;
}
section#visualization {
  background: rgb(253,187,45);
  background: -moz-linear-gradient(0deg, rgba(253,187,45,1) 15%, rgba(34,195,172,1) 30%, rgba(34,191,187,1) 32%, rgba(34,135,195,1) 51%, rgba(255,208,98,1) 54%, rgba(255,182,98,1) 59%, rgba(255,150,98,1) 65%, rgba(67,110,173,1) 77%, rgba(49,72,147,1) 84%, rgba(21,30,107,1) 89%, rgba(6,11,59,1) 97%);
  background: -webkit-linear-gradient(0deg, rgba(253,187,45,1) 15%, rgba(34,195,172,1) 30%, rgba(34,191,187,1) 32%, rgba(34,135,195,1) 51%, rgba(255,208,98,1) 54%, rgba(255,182,98,1) 59%, rgba(255,150,98,1) 65%, rgba(67,110,173,1) 77%, rgba(49,72,147,1) 84%, rgba(21,30,107,1) 89%, rgba(6,11,59,1) 97%);
  background: linear-gradient(0deg, rgba(253,187,45,1) 15%, rgba(34,195,172,1) 30%, rgba(34,191,187,1) 32%, rgba(34,135,195,1) 51%, rgba(255,208,98,1) 54%, rgba(255,182,98,1) 59%, rgba(255,150,98,1) 65%, rgba(67,110,173,1) 77%, rgba(49,72,147,1) 84%, rgba(21,30,107,1) 89%, rgba(6,11,59,1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdbb2d",endColorstr="#060b3b",GradientType=1);
  display: inline-block;
  width: 60vw;
  height: 80vh;
}

section#visualization svg {
  margin: 0;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

section#panel {
  background-color: #666666;
  color: #EEEEEE;
  text-align: center;
  margin: 2vh 4vw;
  border: 1px solid;
  border-radius: 10px;
  display: inline-block;
  width: 30vw;
  height: 75vh;
  vertical-align: top;
}

.sail {
  fill: url(#SailGradient);
}

@media only screen and (min-width: 768px) {
  section#visualization {
    display: inline-block;
    width: 60vw;
    height: 80vh;
  }

  section#panel {
    display: inline-block;
    width: 30vw;
    height: 75vh;
    vertical-align: top;
  }
}

//* { border: 1px solid black; }
