[submodule "react_js_ship"]
	path = react_js_ship
	url = git@github.com:FalixRe/react_js_ship.git
[submodule "ships_log"]
	path = ships_log
	url = git@github.com:FalixRe/ships_log.git
[submodule "UrbanPortfolio"]
	path = UrbanPortfolio
	url = https://github.com/FalixRe/UrbanPortfolio.git
[submodule "SailNamerDeprecated"]
	path = SailNamerDeprecated
	url = git@github.com:FalixRe/SailNamerDeprecated.git
